In [122]:
import numpy as np # linear algebra
import streamlit as st
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [123]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: C:\Users\HARSHIT ANAND\Desktop\data

In [124]:
movies = pd.read_csv('../data/movies.csv')
credits = pd.read_csv('../data/credits.csv')

In [128]:
movies.head(2)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731

In [137]:
print(movies.head())

   movie_id                     title  \
0       278  The Shawshank Redemption
1       238             The Godfather
2       424          Schindler's List
3       240    The Godfather: Part II
4       129             Spirited Away

                                            overview  \
0  Framed in the 1940s for the double murder of h...
1  Spanning the years 1945 to 1955, a chronicle o...
2  The true story of how businessman Oskar Schind...
3  In the continuing saga of the Corleone crime f...
4  A young girl, Chihiro, becomes trapped in a st...

                      genre  \
0               Drama,Crime
1               Drama,Crime
2         Drama,History,War
3               Drama,Crime
4  Animation,Family,Fantasy

                                                cast                    crew
0  [{"cast_id": 3, "character": "Andy Dufresne", ...        [Frank Darabont]
1  [{"cast_id": 5, "character": "Don Vito Corleon...  [Francis Ford Coppola]
2  [{"cast_id": 14, "character": "Oskar Schindler...      [Steven Spielberg]
3  [{"cast_id": 8, "character": "Don Michael Corl...  [Francis Ford Coppola]
4  [{"cast_id": 3, "character": "Chihiro (voice)"...        [Hayao Miyazaki]

In [138]:
# Display the column names
print(movies.columns)

Index(['movie_id', 'title', 'overview', 'genre', 'cast', 'crew'], dtype='object')

In [157]:
# Check if the title exists
print(movies[movies['title'] == "Ghost Rider"])

      movie_id        title  \
3285      1250  Ghost Rider

                                               overview  \
3285  In order to save his dying father, young stunt...

                        genre  \
3285  Thriller,Action,Fantasy

                                                   cast                   crew
3285  [{"cast_id": 11, "character": "Johnny Blaze/Gh...  [Mark Steven Johnson]

In [129]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [130]:
movies = movies.merge(credits,on='title')

In [62]:
movies.head()
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,movie_id,cast,crew
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,278,"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de..."
1,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,238,"[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de..."
2,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,424,"[{""cast_id"": 14, ""character"": ""Oskar Schindler...","[{""credit_id"": ""52fe4242c3a36847f8010303"", ""de..."
3,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,240,"[{""cast_id"": 8, ""character"": ""Don Michael Corl...","[{""credit_id"": ""52fe422bc3a36847f8009501"", ""de..."
4,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093,129,"[{""cast_id"": 3, ""character"": ""Chihiro (voice)""...","[{""credit_id"": ""571e4beec3a3683393000236"", ""de..."

In [131]:
movies = movies[['movie_id','title','overview','genre','cast','crew']]

In [132]:
movies.head()

,movie_id,title,overview,genre,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime","[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de..."
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de..."
2,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War","[{""cast_id"": 14, ""character"": ""Oskar Schindler...","[{""credit_id"": ""52fe4242c3a36847f8010303"", ""de..."
3,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime","[{""cast_id"": 8, ""character"": ""Don Michael Corl...","[{""credit_id"": ""52fe422bc3a36847f8009501"", ""de..."
4,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","Animation,Family,Fantasy","[{""cast_id"": 3, ""character"": ""Chihiro (voice)""...","[{""credit_id"": ""571e4beec3a3683393000236"", ""de..."

In [65]:
import ast

In [66]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [67]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [68]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genre,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime","[Tim Robbins, Morgan Freeman, Bob Gunton, Clan...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de..."
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","[Marlon Brando, Al Pacino, James Caan, Richard...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de..."
2,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War","[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...","[{""credit_id"": ""52fe4242c3a36847f8010303"", ""de..."
3,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime","[Al Pacino, Robert Duvall, Diane Keaton, Rober...","[{""credit_id"": ""52fe422bc3a36847f8009501"", ""de..."
4,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","Animation,Family,Fantasy","[Rumi Hiiragi, Miyu Irino, Mari Natsuki, Takas...","[{""credit_id"": ""571e4beec3a3683393000236"", ""de..."

In [69]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [70]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [1]:
movies['crew'] = movies['crew'].apply(fetch_director)

NameError: name 'movies' is not defined

In [72]:
movies.sample(5)

,movie_id,title,overview,genre,cast,crew
3394,10336,Spawn,After being murdered by corrupt colleagues in ...,"Action,Adventure,Fantasy,Horror,Science Fictio...","[Michael Jai White, Martin Sheen, John Leguizamo]",[Mark A.Z. Dippé]
3285,1250,Ghost Rider,"In order to save his dying father, young stunt...","Thriller,Action,Fantasy","[Nicolas Cage, Eva Mendes, Wes Bentley]",[Mark Steven Johnson]
1043,586,Wag the Dog,"During the final weeks of a presidential race,...","Comedy,Drama","[Dustin Hoffman, Robert De Niro, Anne Heche]",[Barry Levinson]
2742,11678,Vertical Limit,"Trapped near the summit of K2, the world's sec...","Adventure,Action,Thriller","[Chris O'Donnell, Robin Tunney, Bill Paxton]",[Martin Campbell]
3378,11469,Black Knight,"Martin Lawrence plays Jamal, an employee in Me...","Comedy,Fantasy,Adventure","[Martin Lawrence, Marsha Thomason, Tom Wilkinson]",[Gil Junger]

In [73]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [74]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genre'] = movies['genre'].apply(collapse)

In [75]:

movies.head()

,movie_id,title,overview,genre,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[D, r, a, m, a, ,, C, r, i, m, e]","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont]
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[D, r, a, m, a, ,, C, r, i, m, e]","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola]
2,424,Schindler's List,The true story of how businessman Oskar Schind...,"[D, r, a, m, a, ,, H, i, s, t, o, r, y, ,, W, ...","[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg]
3,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"[D, r, a, m, a, ,, C, r, i, m, e]","[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola]
4,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","[A, n, i, m, a, t, i, o, n, ,, F, a, m, i, l, ...","[RumiHiiragi, MiyuIrino, MariNatsuki]",[HayaoMiyazaki]

In [76]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [77]:
movies['tags'] = movies['overview'] + movies['genre'] + movies['cast'] + movies['crew']

In [78]:
new = movies.drop(columns=['overview','genre','cast','crew'])
#new.head()

In [79]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
2,424,Schindler's List,The true story of how businessman Oskar Schind...
3,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
4,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st..."

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [81]:
vector = cv.fit_transform(new['tags']).toarray()

In [82]:
vector.shape

(3569, 5000)

In [83]:
from sklearn.metrics.pairwise import cosine_similarity

In [84]:
similarity = cosine_similarity(vector)

In [85]:
similarity

array([[1.        , 0.02867697, 0.        , ..., 0.04287465, 0.08111071,
        0.03768892],
       [0.02867697, 1.        , 0.        , ..., 0.        , 0.03721615,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.05882353, 0.        ,
        0.        ],
       ...,
       [0.04287465, 0.        , 0.05882353, ..., 1.        , 0.        ,
        0.        ],
       [0.08111071, 0.03721615, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.03768892, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [86]:
new[new['title'] == 'The Lego Movie'].index[0]

486

In [87]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [88]:
recommend('Gandhi')

A Passage to India
Rang De Basanti
For Your Eyes Only
Terminator 2: Judgment Day
Mr. Turner

In [89]:
import pickle

In [99]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))